<meta http-equiv="Content-Type" content="text/html; charset=utf-8">



<table style = "border: 1px solid black; border-collapse: collapse;">
	<th colspan="3">로그인</th>
	<tr><!-- 첫번째 줄 시작 -->
		<td style = "text-align: center;">ID</td>
		<td> : </td>
		<td>
			<input id="ID" type = "text" />
		</td>
	</tr><!-- 첫번째 줄 끝 -->
	<tr><!-- 두번째 줄 시작 -->
		<td style = "text-align: center;">PASSWORD</td>
		<td> : </td>
		<td>
			<input id="Password" type = "password" />
		</td>
	</tr><!-- 두번째 줄 끝 -->
	<tr><!--세번재 줄 시작 -->
		<td><input id="regist" type = "button" value = "회원가입"></td>
		<td></td>
		<td><input id = "login" style="float: right;" type = "button" value = "로그인"></td>
	</tr><!--세번째 줄 끝 -->
</table>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
	$(document).ready(function(){
		$('#login').click(function(){
			var id = $('#ID').val();
			var pass = $('#Password').val();
			$.ajax({
				type: 'POST',
				url: "/ConfirmLogin",
				data: {
					"id":id,
					"password":pass
				},
				success: function(){
					window.location.href='/Diary';
				}
			});
		});
		$("#regist").click(function(){
			window.location.href = '/regist';
		})
	});
</script>